/*perspectiva de fondo para efecto 3d*/
* {
  transition: all 0.5s;
}
body {
  perspective: 1000;
  z-index: 1000;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
img {
  max-width: 100%;
  max-height: 100%;
}
h1 {
  margin: 0;
  font-family: "Sedgwick Ave Display", cursive;
  color: chocolate;
  font-size: 3rem;
}

/*modal window start the game style*/
#pop-up-container,
#win-pop-up {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
#pop-up,
.win-container {
  position: fixed;
  background-color: rgba(210, 105, 30, 0.829);
  display: grid;
  place-items: center;
  gap: 10px;
  width: 60%;
  left: 50%;
  top: 50%;
  padding: 20px;
  transform: translate(-50%, -50%);
  z-index: 1000;
  border-radius: 15px;
  box-shadow: 5px 4px 20px rgb(182, 233, 241);
  color: white;
  font-size: larger;
}
#pop-up-text > p {
  font-family: "Sedgwick Ave Display", cursive;
  text-align: center;
  font-size: 30px;
  margin: 0;
}

#pop-up-text > ul {
  list-style: square;
  margin: 10px auto;
}
#pop-up-input {
  display: flex;
  align-items: center;
}

#pop-up-input > label {
  margin: 10px;
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
}
#nameuser {
  height: 30px;
  text-align: center;
  border-radius: 5px;
}

#start-game,
#new-game {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  background-color: cadetblue;
  color: rgb(255, 227, 67);
  font-size: 25px;
  font-weight: 600;
}
#start-game:hover {
  transform: scale(0.9);
  box-shadow: inset 3px 3px 5px white;
}
#start-game:active,
#new-game:active {
  transform: scale(0.8);
}

/*
*Responsive design for pop up Game Rules
*/
@media (max-width: 768px) {
  #pop-up {
    width: 80%;
  }
}
@media (max-width: 480px) {
  #pop-up-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    text-align: center;
  }
}
@media (max-width: 321px) {
  #pop-up-input {
    text-align: center;
  }
  #pop-up-text > ul {
    height: 250px;
    overflow-y: scroll;
    font-size: 20px;
  }
}

/*WIN window style*/
#win-pop-up {
  display: none;
  transform: scale(0.5);
  transition: all 1s ease-in;
}

.win-container {
  text-align: center;
}
.win-container > p {
  color: rgb(167, 226, 77);
}

/*Header*/
#header {
  width: 80%;
  margin: 30px auto;
  text-align: center;
}

/*Game area where the cards and the game zone*/
#game-area {
  margin: 20px auto 0;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 10px;
  place-items: center;
}

.card-area,
.card-zone,
.card {
  width: 140px;
  height: 140px;
  border-radius: 15px;
  box-shadow: 0px 3px 5px gray;
}
.card-zone {
  position: relative;
  transform-style: preserve-3d;
  cursor: pointer;
}
.animation {
  animation: startGame 4s;
}

.card {
  position: absolute;
  backface-visibility: hidden;
  font-size: 200%;
  display: grid;
  place-items: center;
}
.front {
  background-color: cadetblue;
  z-index: 1000;
  color: rgb(255, 255, 255);
}
.back {
  background-color: chocolate;
  transform: rotateY(180deg);
  z-index: 1000;
}
i {
  pointer-events: none;
}

/*Animatio for show all the card when the game starts*/

@keyframes startGame {
  20%,
  80% {
    transform: rotateY(180deg);
  }
  0%,
  100% {
    transform: rotateY(0deg);
  }
}

/*GAME AREA RESPONSIVE DESIGN*/
@media (max-width: 1280px) {
  #game-area {
    width: 80%;
  }
}
@media (max-width: 1024px) {
  #game-area {
    width: 85%;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  }
  .card-area,
  .card-zone,
  .card {
    width: 130px;
    height: 130px;
  }
}
@media (max-width: 768px) {
  #game-area {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
  .card-area,
  .card-zone,
  .card {
    width: 180px;
    height: 100px;
  }
}

@media (max-width: 480px) {
  #game-area {
    width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  }
  .card-area,
  .card-zone,
  .card {
    width: 120px;
    height: 80px;
    border-radius: 0;
  }
  .card {
    font-size: 120%;
  }
}
@media (max-width: 412px) {
  #game-area {
    width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .card-area,
  .card-zone,
  .card {
    width: 100px;
    height: 80px;
    border-radius: 0;
  }
  .card {
    font-size: 120%;
  }
}
@media (max-width: 320px) {
  #game-area {
    width: 95%;
    grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  }
  .card-area,
  .card-zone,
  .card {
    width: 80px;
    height: 50px;
  }
  h1 {
    font-size: 25px;
  }
}
/*Timer Countdown*/
#timer-container{
  margin: 20px auto;
  width: 100px;
  padding: 20px;
  border: 2px solid chocolate;
  border-radius: 10px;
  text-align: center;
  font-size: 40px;
}

/*Restar button style GIVE UP!!*/
.restart-button {
  margin: 20px auto;
  text-align: center;
}
#restart-game {
  width: 300px;
  height: 60px;
  background-color: brown;
  font-size: 30px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 2px 3px 2px gray;
}
#restart-game:active {
  transform: scale(0.9);
}

/*Restart button RESPONSIVE design*/
@media (max-width: 320px) {
  #restart-game {
    width: 95%;
    font-size: 15px;
  }
}

/*Info game area */
#info-game {
  margin: 20px auto 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

#info-game > div {
  flex: 0 0 calc(50% - 10px);
}

#user-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player-image {
  width: 200px;
  border-radius: 50% 50%;
}
#name-player {
  font-family: "Sedgwick Ave Display", cursive;
  font-size: 30px;
  color: chocolate;
  letter-spacing: 3px;
}
.scores {
  font-family: "Press Start 2P", cursive;
  font-size: 25px;
  color: rgb(51, 92, 94);
}
.scores > span {
  color: chocolate;
}

/*Info game RESPONSIVE design*/
@media (max-width: 768px) {
  #info-game {
    flex-direction: column;
  }
  #player-image {
    width: 150px;
  }
}
@media (max-width: 480px) {
  #user-area {
    flex-direction: column;
  }
}
@media (max-width: 320px) {
  .scores {
    font-size: 15px;
  }
}

/*footer style*/
footer {
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.social-media-icon {
  width: 100px;
}
